<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 16.05.2017, 22:07</p>
            <h2><a href="">My first post</a></h2>
            <p>I am working on Django Girls' really intuitive tutorials. THis is my first blog post. In it we'll talk about fables...A fable is a short story, typically with animals as characters, conveying a moral. For instance Aesop's fables.<br><em>Who is Aesop?</em> Aesop is the name of the man credited with the authorship of a collection or book of  fables. Aesop was a slave who many believe lived in Samos, a Greek island in the eastern Aegean Sea but others say he came from Ethiopia. The name of his first owner was Xanthus. It is believed that he eventually became a free man. In Aesop's biography Planudes describes Aesop an ugly, deformed dwarf, and the famous marble statue at the Villa Albani in Rome depicts Aesop accordingly.<br>Stay tuned,we will read one of his stories in the next post.</p>
        </div>

        <div>
            <p>published: 16.05.2017, 22:07</p>
            <h2><a href="">My second post</a></h2>
            <p>Hi there, it's great to see you again. As promised from last week, let's dive right into Aesop's fable...We'll be kicking it old school;)</p>

			<p>WHEN the fox and the lion first happen’d to meet,</p>
			<p>Poor Reynard fell down at his majesty’s feet,</p>
			<p>So great was the terror inspired;</p>
			<p>But the next time he met him, not quite so afraid,</p>
			<p>When the lion approach’d an obeisance he made,</p>
			<p>And after his health he inquired.</p><br>

			<p>But the third time he met him, “Old crony,” said he,</p>
			<p>“Pray whither so fast? I must say, to be free,</p>
			<p>That you’re grown somewhat cool and unkind.”</p>
			<p>The dignified lion deign’d not a reply;</p>
			<p>But taking the fox to a river hard by,</p>
			<p>Cool’d him, both in body and mind.</p>

			<p>Thought the fox, whilst emerging in woe-begone state,</p>
			<p>“This comes of one’s making too free with the great.”.</p>
        </div>
    </body>
</html>